@font-face {
  font-family: "odin";
  src: url(fonts/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-container {
  width: 35vw;
  background-image:url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size:cover;
  display: flex;
  justify-content: center;
}

.right-container {
  width: 65vw;
  height: 100vh;
}

.top-section {
  padding: 250px 250px 0px 50px;
  background-color: #e5e7eb;
  height: 38%;
}

.middle-section {
  padding: 0px 250px 50px 50px;
  height: 27%;
}

.form-title {
  padding: 25px 0;
}

.form {
  display: flex;
  flex-direction: row;
}

input, label {
  display: block;
  font-size: 12px;
  letter-spacing: 1.5px;
}

label {
  padding-bottom: 3px;
}

input {
  width: 250px;
  height: 30px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.left-form .form-element:nth-child(2),
.right-form .form-element:nth-child(2){
  padding: 30px 30px 30px 0;
}

.left-form {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.right-form {
  display: flex;
  flex-direction: column;
}

.bottom-section {
  background-color: #e5e7eb;
  padding: 0px 250px 50px 50px;
  height: 35%;
}

.button-container {
  padding: 35px 0;
}

button {
  border: 1px solid #596D48;
  border-radius: 10px;
  background-color: #596D48;
  width: 250px;
  height: 50px;
  color: white;
  font-size: 18px;
}

a {
  color: #596D48;
}

.title-container {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35vw;
  height: 220px;
  position: absolute;
  top: 300px; 
}

img {
  height: 200px;
}

h1 {
  color: white;
  font-family: "odin";
  font-size: 200px;
}

h2 {
  font-size: 28px;
}

h2 + p {
  font-size: 28px;
  padding-top: 50px;
}

.error {
  border: 1px solid red;
}

.error-message {
  font-size: 12px;
  color: red;
}
