@font-face {
  font-family: "odin";
  src: url(fonts/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-container {
  width: 35vw;
  background-image:url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size:cover;
  display: flex;
  justify-content: center;
}

.right-container {
  width: 65vw;
  height: 100vh;
}

.top-section {
  padding: 100px 100px 50px 20px;
  background-color: grey;
  height: 38%;
}

.middle-section {
  padding: 100px 100px 50px 20px;
  height: 27%;
}

.bottom-section {
  background-color: grey;
  padding: 100px 100px 50px 20px;
  height: 30%;
}

.title-container {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35vw;
  height: 220px;
  position: absolute;
}

img {
  height: 200px;
}

h1 {
  color: white;
  font-family: "odin";
  font-size: 200px;
}
