@font-face {
  font-family: "odin";
  src: url(fonts/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-container {
  width: 35vw;
  background-image:url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size:cover;
  display: flex;
  justify-content: center;
}

.right-container {
  width: 65vw;
  height: 100vh;
}

.top-section {
  padding: 250px 250px 0px 50px;
  background-color: grey;
  height: 38%;
}

.middle-section {
  padding: 0px 250px 50px 50px;
  height: 27%;
}

.form-title {
  padding: 25px 0;
}

.form {
  display: flex;
  flex-direction: row;
}

input, labe {
  display: block;
}

.form-element {
  margin: 10px;
}

.left-form {
  display: flex;
  flex-direction: column;
}

.right-form {
  display: flex;
  flex-direction: column;
}

.bottom-section {
  background-color: grey;
  padding: 0px 250px 50px 50px;
  height: 30%;
}

.button-container {
  padding: 35px 0;
}

button {
  border: 1px solid green;
  border-radius: 10px;
  background-color: green;
  width: 250px;
  height: 50px;
  color: white;
  font-size: 18px;
}

.title-container {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35vw;
  height: 220px;
  position: absolute;
  top: 300px; 
}

img {
  height: 200px;
}

h1 {
  color: white;
  font-family: "odin";
  font-size: 200px;
}

h2 {
  font-size: 28px;
}

h2 + p {
  font-size: 28px;
  padding-top: 50px;
}
